openapi: 3.0.0
servers:
  - url: http://patientoutcome.cighir.de:4000/v1
    description: Local server
info:
  title: Patient clinical outcome app API
  version: 0.0.2
  description: This API describes the endpoints for a patient clinical outcome reporting and prospectively observing app.
  contact:
    name: Victor Cighir
    email: victor@cighir.de
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

tags:
  - name: user
    description: Everything related to users, editing, deleting and updating
  - name: patient
    description: Everything related to patients, personal data, cases, consultations
  - name: form
    description: Everything related to forms
  - name: authentication
    description: Everything related to authentication of users - registration, login and logout

components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
        - code
        - message
    UserNoPassword:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        name:
          type: string
        department:
          type: string
        role:
          type: integer
          minimum: 0
        email:
          type: string
          format: email
        lastLogin:
          type: string
          format: date-time
        belongsToCenter:
          type: array
          items:
            type: string
      required:
        - id
        - username
        - name
        - department
        - role
        - email
        - lastLogin
        - belongsToCenter
    User:
      allOf:
        - $ref: '#/components/schemas/UserNoPassword'
        - type: object
          properties:
            password:
              type: string
              format: password
      required:
        - password
    RegisterUserRequest:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            registrationToken:
              type: string
          required:
            - registrationToken

    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
      required:
        - email
        - password

    LoginResponse:
      type: object
      properties:
        token:
          type: string
        user:
          $ref: '#/components/schemas/User'
    Doctor:
      type: object
      properties:
        name:
          type: string
        address:
          type: string

    Patient:
      type: object
      properties:
        id:
          type: string
          format: uuid
        otherdoctors:
          type: array
          items:
            $ref: '#/components/schemas/Doctor'
        externalPatientId:
          type: string
        age:
          type: number
        sex:
          type: string
        cases:
          type: array
          items:
            $ref: '#/components/schemas/PatientCase'

    Note:
      type: object
      properties:
        id:
          type: string
        dateAndTimeCreated:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/User'
        note:
          type: string

    FormAnswer:
      type: object
      properties:
        questionId:
          type: string
        score:
          type: number

    FormSection:
      type: object
      properties:
        sectionId:
          type: string
        sectionScore:
          type: number
        formAnswers:
          type: array
          items:
            $ref: '#/components/schemas/FormAnswer'

    Form:
      type: object
      properties:
        formId:
          type: string
        score:
          type: number
        formSections:
          type: array
          items:
            $ref: '#/components/schemas/FormSection'

    CaseConsultation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        dateAndTime:
          type: string
          format: date-time
        reasonForConsultation:
          type: array
          items:
            type: string
            enum: [planned, unplanned, emergency, pain, control]
        notes:
          type: array
          items:
            $ref: '#/components/schemas/Note'
        proms:
          type: array
          items:
            $ref: '#/components/schemas/Form'
        images:
          type: array
          items:
            type: object
        visitedBy:
          type: array
          items:
            $ref: '#/components/schemas/User'

    PatientCase:
      type: object
      properties:
        id:
          type: string
          format: uuid
        MainDiagnosis:
          type: array
          items:
            type: string
        StudyDiagnosis:
          type: array
          items:
            type: string
        'MainDiagnosis-ICD10':
          type: array
          items:
            type: string
        'StudyDiagnosis-ICD10':
          type: array
          items:
            type: string
        Therapy:
          type: string
        'OPS-Codes':
          type: array
          items:
            type: string
        surgeons:
          type: array
          items:
            $ref: '#/components/schemas/User'
        responsibleForCase:
          type: array
          items:
            $ref: '#/components/schemas/User'
        Notes:
          type: string
        'Medical history':
          type: string
        OtherDiagnosis:
          type: array
          items:
            type: string
        consultations:
          type: array
          items:
            $ref: '#/components/schemas/CaseConsultation'
        consultationTemplate:
          type: array
          items:
            $ref: '#/components/schemas/ConsultationTemplate'
    Question:
      type: object
      properties:
        id:
          type: string
        question:
          type: string
        description:
          type: string

    FormQuestionTemplateTypeFreeText:
      allOf:
        - $ref: '#/components/schemas/Question'
        - type: object
          properties:
            answer:
              type: string

    FormQuestionTemplateTypeSingleChoice:
      allOf:
        - $ref: '#/components/schemas/Question'
        - type: object
          properties:
            multipleSelectionAllowed:
              type: boolean
            answers:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  option:
                    type: string
                  selected:
                    type: boolean
                  score:
                    type: number

    FormQuestionTemplateTypeMultipleChoice:
      $ref: '#/components/schemas/FormQuestionTemplateTypeSingleChoice'

    FormQuestionTemplateTypeRating:
      allOf:
        - $ref: '#/components/schemas/Question'
        - type: object
          properties:
            scale:
              type: string
              enum: [star, number]
            range:
              type: number
              minimum: 3
              maximum: 10
            lowerLabel:
              type: string
              default: bad
            upperLabel:
              type: string
              default: very good
            score:
              type: number

    FormQuestionTemplateTypeConsent:
      allOf:
        - $ref: '#/components/schemas/Question'
        - type: object
          properties:
            checkboxLabels:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  selected:
                    type: boolean

    FormQuestionTemplate:
      type: object
      properties:
        id:
          type: string
        typeOfQuestion:
          type: string
          enum: [free-text, single-choice, multiple-choice, rating, consent]

    FormSectionTemplate:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        totalScore:
          type: number
        questions:
          type: array
          items:
            $ref: '#/components/schemas/FormQuestionTemplate'
    ConsultationTemplate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        sections:
          type: array
          items:
            $ref: '#/components/schemas/FormSectionTemplate'
      required:
        - id
        - title
        - sections
    FormTemplate:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        Sections:
          type: array
          items:
            $ref: '#/components/schemas/FormSectionTemplate'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
paths:
  /user:
    get:
      tags:
        - user
      summary: Get all users
      description: Returns a list of all users. Requires admin privileges.
      # x-eov-operation-handler: routes/userauto
      # x-eov-operation-id: user#getAll
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of users retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserNoPassword'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags:
        - user
      summary: Create a new user
      description: Creates a new user. Requires admin privileges.
      security:
        - bearerAuth: []
      # x-eov-operation-handler: routes/userauto
      # x-eov-operation-id: user#create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /user/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags:
        - user
      summary: Get user by ID
      security:
        - bearerAuth: []
      # x-eov-operation-handler: routes/userauto
      # x-eov-operation-id: user#getById
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      tags:
        - user
      summary: Update user
      security:
        - bearerAuth: []
      # x-eov-operation-handler: routes/userauto
      # x-eov-operation-id: user#update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    delete:
      tags:
        - user
      summary: Delete user
      security:
        - bearerAuth: []
      # x-eov-operation-handler: routes/userauto
      # x-eov-operation-id: user#delete
      responses:
        '204':
          description: User deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/register:
    post:
      tags:
        - authentication
      summary: Register new user
      x-eov-operation-handler: routes/authentication
      x-eov-operation-id: user#register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid registration token or data

  /auth/login:
    post:
      tags:
        - authentication
      summary: User login
      x-eov-operation-handler: routes/authentication
      x-eov-operation-id: user#login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/logout:
    post:
      tags:
        - authentication
      summary: User logout
      x-eov-operation-handler: routes/authentication
      x-eov-operation-id: user#logout
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /patient:
    get:
      tags:
        - patient
      summary: Get all patients
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of patients retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Patient'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags:
        - patient
      summary: Create a new patient
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
      responses:
        '201':
          description: Patient created successfully
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /patient/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags:
        - patient
      summary: Get patient by ID
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Patient found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - patient
      summary: Update patient
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
      responses:
        '200':
          description: Patient updated successfully
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - patient
      summary: Delete patient
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Patient deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  /patient/search:
    post:
      tags:
        - patient
      summary: Search patients
      description: Search for patients using one or more fields
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patient'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Patient'

  /patient/case:
    get:
      tags:
        - patient
      summary: Get all cases
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of cases retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PatientCase'

    post:
      tags:
        - patient
      summary: Create a new case
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientCase'
      responses:
        '201':
          description: Case created successfully

  /patient/case/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags:
        - patient
      summary: Get case by ID
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Case found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientCase'
        '404':
          $ref: '#/components/responses/NotFound'

  /patient/caseConsultation:
    post:
      tags:
        - patient
      summary: Create a new consultation
      security:
        - bearerAuth: []
      parameters:
        - name: patientId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseConsultation'
      responses:
        '201':
          description: Consultation created successfully
        '400':
          description: Patient ID is required

  /patient/consultation/form:
    post:
      tags:
        - form
      summary: Create a new form
      security:
        - bearerAuth: []
      parameters:
        - name: patientId
          in: query
          required: true
          schema:
            type: string
        - name: consultationId
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form'
      responses:
        '201':
          description: Form created successfully
        '400':
          description: Patient ID and Consultation ID are required

  /formtemplate:
    get:
      tags:
        - form
      summary: Get all form templates
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of form templates retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormTemplate'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags:
        - form
      summary: Create a new form template
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormTemplate'
      responses:
        '201':
          description: Form template created successfully
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /formtemplate/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags:
        - form
      summary: Get form template by ID
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Form template found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormTemplate'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      tags:
        - form
      summary: Update form template
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormTemplate'
      responses:
        '200':
          description: Form template updated successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    delete:
      tags:
        - form
      summary: Delete form template
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Form template deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

